
#detailPanel {
  overflow-y: auto;

  #detailGraph {
    margin: 20px 0 0 0;
    width: 100%;
    height: 150px;
  }

  #detailDescription {
    margin: 20px;
    margin-bottom: 0;
  }

  #detailInfograph {
    padding-top: 10px;
    text-align: center;

    .infograph {
      padding: 5px;
    }
    .fa {
      padding-right: 2px;
    }

    .fa-calendar-times-o {
      color: #d98c8c;
    }

    .fa-calendar-check-o {
      color: #7dad7c;
    }
  }

}

