#detailPanel {

  h1 {
    padding-top: 0;
  }

  #detailElevationProfile {
    display: block;
    width: calc(100% - 2.5rem);
    margin: 1.25rem auto 0;
    padding: 0;
    box-sizing: border-box;
  }

  #detailDescription {
    margin: 1.25rem;
    line-height: var(--app-big-font);
  }

  #detailInfograph {
    padding: 0.625rem;
    text-align: center;

    .infograph {
      padding: 0.3125rem;
    }
    .fa {
      padding-right: 0.125rem;
    }

    .fa-calendar-times-o {
      color: var(--app-trail-closed);
    }

    .fa-calendar-check-o {
      color: var(--app-trail-open);
    }
  }

  .esri-widget {
    background: transparent;
  }
}

@media (max-width: 37.5rem) {
  #detailPanel {
    h1 {
      text-align: left;
      padding: 0.625rem 0 0.625rem 1.25rem;
    }

    #detailInfograph {
      text-align: left;
      padding-left: 1.25rem;
    }

    #detailDescription {
      display: none;
    }

    #detailElevationProfile {
      margin: 1rem auto 0;
      width: calc(100% - 1.5rem);
      height: 7.5rem;
    }
  }
}
