.menuPanel  {
  --calcite-shell-panel-width: 22rem;  
  calcite-tab {
    overflow-y: visible;
  }
}

@media (max-width: 800px) {
  .menuPanel  {
    --calcite-shell-panel-width: 100vw;
    --calcite-shell-panel-height: 33vh;
  }

  .menuPanel > h1 {
    display: none;
  }

}

#mobilePanelToggle {
  min-inline-size: 2rem;
  inline-size: 2rem;
  block-size: 2rem;
  padding: 0;
  --calcite-button-background-color: #fff;
  --calcite-button-background-color-hover: #f2f2f2;
  --calcite-button-background-color-press: #ebebeb;
  --calcite-button-border-color: #d4d4d4;
  --calcite-button-text-color: #6b6b6b;
}

#selectionPanel {
  padding: 1.25rem;

  .removeSelected {
    margin: 1.5rem 0;
    --calcite-button-text-color: var(--app-text);
  }

  #trailsPanel {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    --calcite-chip-text-color: var(--app-text);

    .trail {
      cursor: pointer;

      &.disabled {
        pointer-events: none;
      }

      &.selected {
        --calcite-color-brand: var(--app-selected-orange);
        --calcite-color-brand-hover: var(--app-selected-orange);
        --calcite-color-brand-press: var(--app-selected-orange);
      }
    }
  }

  #filterPanel {

    .filter-category {
      font-size: var(--app-small-font);
      font-weight: bold;
      padding: 1rem 0 0.5rem 0;
    }

    .segmented-group {
      width: 75%;
      margin: 0 auto;
      --calcite-segmented-control-border-color: var(--app-brand-green);
      calcite-segmented-control-item[checked] {
          --calcite-segmented-control-color: #000;
      }
    }

    .range-slider {
      width: 75%;
      margin: 0.5rem auto;
    }
  }
}


#detailPanel {
  #detailElevationProfile {
    width: calc(100% - 2.5rem);
    margin: 1.25rem auto;
  }

  #detailDescription {
    margin: 1.25rem;
  }

  #detailInfograph {
    padding: 1.5rem;
    text-align: center;

    .infograph {
      padding: 0.5rem;
    }

    .fa-calendar-times-o {
      color: #d98c8c;
    }

    .fa-calendar-check-o {
      color: #7dad7c;
    }
  }
}

#basemapPanel {
  arcgis-basemap-gallery {
    margin: 1.25rem auto;
  }
}


