#scenePanel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

/******** Esri popups *************/


.esri-popup__header-buttons, .esri-popup__feature-buttons {
  display: none;
}

.esri-popup__header-title.esri-popup__header-title--button {
  padding: 6px;
}

.esri-popup__header {
  border-radius: 10px;
}

.esri-popup__main-container.esri-widget {
  width: 70px;
  text-align: center;
  background: rgb(249, 163, 82);
  border-radius: 3px;
  color: white;
}

.esri-popup__header>h1{
  font-size: 1em;
}

.esri-popup__pointer-direction.esri-popup--shadow {
  background: rgb(249, 163, 82);
}

.esri-popup--feature-updated {
  transition: none;
  opacity: 1;
}
