@import 'variables';

#selectionPanel {
  width: 100%;
  align-items: stretch;
  padding: 20px;
  box-sizing: border-box;
}

#trailsPanel {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;

  .trail {
    background-color: $green;
    border: 1px solid $green;
    padding-right: 6px;
    margin: 5px 5px 5px 0;
    cursor: pointer;
    pointer-events: auto;
    padding: 2px 5px;
    font-size: $small-font;

    .disabled {
      cursor: default;
      background-color: white;
      border: 1px solid $disabled-gray;
      color: $disabled-gray;
      pointer-events: none;
    }

    &.selected {
      background-color: $orange;
      border: 1px solid $orange;
    }
  }

  .trail:hover {
    background-color: $orange;
    border: 1px solid $orange;
  }
}

