@import "../../node_modules/@arcgis/core/assets/esri/themes/light/main.css";

@import "./menu-panel.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Open Sans Condensed", sans-serif;
  color: var(--app-text);
}

:root {
  --app-text: #323232;
  --app-small-font: 0.9em;
  --app-medium-font: 1.2em;
  --app-big-font: 1.3em;
  --app-huge-font: 2em;
  --app-brand-green: #b5e2c1;
  --app-brand-green-hover: #9fd4ae;
  --app-brand-green-press: #8ac79c;
  --app-selected-orange: #f9a352;

  --calcite-color-brand: var(--app-brand-green);
  --calcite-color-brand-hover: var(--app-brand-green-hover);
  --calcite-color-brand-press: var(--app-brand-green-press);
  --calcite-color-background: #fff;
}

h1 {
  font-size: var(--app-big-font);
  font-weight: bold;
  padding: 1.25rem;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: var(--app-medium-font);
  font-weight: bold;
  text-align: center;
}

a {
  color: var(--app-brand-green-press);
  font-weight: 700;
  text-decoration: none;
}

a:hover,
a:focus-visible {
  text-decoration: underline;
}

b {
  font-weight: 700;
}

.title {
  position: relative;
  z-index: 1;
}

.title:before {
  border-top: 0.625rem solid var(--app-brand-green);
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  z-index: -1;
}

arcgis-expand .app-info-panel {
  max-width: 33rem;
  padding: 1rem;
  margin: 0 auto;
}

arcgis-expand .app-info-panel p {
  margin: 0 0 1rem;
}