@import "../../node_modules/@arcgis/core/assets/esri/themes/light/main.css";

@import "menu-panel";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  color: var(--app-text);
  overflow: hidden;
}

:root {
  --side-panel-width: 33.333vw;
  --app-surface: #fff;
  --app-black: #000;
  --app-text: #323232;
  --app-delimiter: rgba(100, 100, 100, 0.75);
  --app-background-color: rgba(255, 255, 255, 0.9);
  --app-small-font: 0.9em;
  --app-normal-font: 1em;
  --app-medium-font: 1.2em;
  --app-big-font: 1.3em;
  --app-huge-font: 2em;
  --app-brand-green: #b5e2c1;
  --app-brand-green-hover: #9fd4ae;
  --app-brand-green-press: #8ac79c;
  --app-selected-orange: #f9a352;
  --app-trail-closed: #d98c8c;
  --app-trail-open: #7dad7c;

  --calcite-color-brand: var(--app-brand-green);
  --calcite-color-brand-hover: var(--app-brand-green-hover);
  --calcite-color-brand-press: var(--app-brand-green-press);
}

h1 {
  font-size: var(--app-big-font);
  font-weight: bold;
  padding: 20px;
  text-align: center;
  margin: 0;
}

.title {
  position: relative;
  z-index: 1;
  &:before {
    border-top: 10px solid var(--app-brand-green);
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    z-index: -1;
  }

  span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: var(--app-surface);
    padding: 0 30px;
  }
}

*:focus {
  outline: none;
}

#scene-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media (max-width: 600px) {
  :root {
    --side-panel-width: 100vw;
  }

  #scene-wrapper {
    width: 100vw;
    height: 100vh;
  }
}

b {
  font-weight: 700;
}
